.header {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    color: #1677ff;
}

.logo {
    display: flex;
    align-items: center;
    float: left;
    flex-direction: row;
}

.userOption {
    margin-left: auto;
    float: right;
}

.leftMenu {
    /* background-color: red; */
    height: calc(100vh - 64px);
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    background-color: aqua;
  }
  